.recent-notes {
  &>h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  &>ul.recent-ul {
    list-style: none;
    margin-top: 0.5rem;
    padding-left: 0;

    &>li {
      margin: 0.5rem 0;

      .section>.desc>h3>a {
        font-size: 1rem;
        background-color: transparent;
      }

      .section>.meta {
        font-size: 1rem;
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}